@charset "UTF-8";

@import url(font-awesome.min.css);

@import
	url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700")
	;
	
.wrapper{
	background-color: #4f4f4f;
}	

.subpage {
	background-color: #EBE5D9;
	text-align: center;
}

/*bookindex.jsp*/
div.page, .pagename {
	margin: 10px 15px;
	text-algin: center;
	font-family: Century Gothic;
	color: block;
	font-size: 12px;
}

div.page>a {
	color: blue;
	font-size: 12px;
}

div>#book {
/* 	background-color: #EBE5D8; */
	text-align: center;
	padding:5% 0% 5% 0%;
}


#booklist{
	padding: 5px 5px;
	width: 100%;
	height: 70%;
	position: relative;
	overflow: hidden;
	transition: box-shadow 500ms;
	margin: 15px 10px;
	border-radius: 8px;
}



#booklist:hover {
	position: relative;
	top: -1px;
	box-shadow: 10px 10px 5px rgba(0.2, 0, 0, 0.2);
}

div>#book .card-top {
	
}

div>#book #booklist .card-img-top {
	margin: 10px 0px 0px 0px;
	width: 130px;
	height: 140px;
	transition: box-shadow 500ms;
}

div>#book #booklist .card-img-top:hover {
	position: relative;
	transform: scale(1.1);
}
.inputCard {
color: #444;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
border-bottom: solid 1px transparent;
box-sizing: border-box;
margin: 0 0 -1px -2rem;
margin-left: 230px;
margin-top: 30px;
}

.card-header-pay {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #FFF;
    border-bottom: #A35D22;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 100%;
}

.alert-secondary {
    color: #383d41;
    background-color: #FFF;
    border-color: #A35D22;
}
.size-116-pay {
    width: 26%;
    height: 50px;
}

div>#book .card-body .prdName {
	font-size: 14px;
	font-weight: 900;
	color: #666666;
	font-family: Helevetica;
	overflow: hidden;
	display: -webkit-box;
	webkit-line-clamp: 2;
	webkit-box-orient: vertical;
	white-space: normal;
}

div>#book .card-body #price {
	font-family: Century Gothic;
	color: red;
	font-size: 20px;
}

div>#book #booklist .card-body-btn {
	width: 10px;
	height: 10px;
	transition: box-shadow 500ms;
	position: absolute;
	top: 245px;
	left: 100px;
	outline: none;
	background-color: transparent;
}

div>#book #booklist .card-img-body {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left:80%;
}









/*cart.jsp*/





table>.cartprd {
	text-aglin:center;
	font-size: 14px;
	font-weight: 900;
	color: #666666;
	font-family: Helevetica;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}


#imgTd>.prdimgTd {
	width: 110px;
	height: 120px;
}

div> #chelisInf{
}





/*pay.jsp*/

.card +#cardpay {
	width: 100%;
	height:auto;
}


div>#collapseOne {
	display: none;
}