* {
   box-sizing: border-box;
}
 html,body {
        height: 100%;
}
 body {
       display: -ms-flexbox;
       display: flex;
       -ms-flex-align: center;
       align-items: center;
       background-color: #f5f5f5;
}

#inner{
	 max-width: 400px;
     padding: 15px;
     margin: auto;
     margin-top: 300px;
     box-shadow:0 0 17px black;
     border-radius: 10px;
     background-color: #F5F5F5;
}

#inner h1{
	color: black;
	font-weight: 700;
	font-family: Microsoft JhengHei;
}
#inner form{
	height: 50px;
}
#userInput{
	width: 300px;
	height: 40px;
	display: inline-block;
	background-color: white;
	border: 1px solid black;
}
#btnDiv{
	display: inline-block;
	width: 40px;
}
#btn{
	color: white !important; 
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.errorMsg{
	line-height: 15px;
    color: red;
    font-size: 15px;
    font-weight: 700;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    margin-top: 15px;
}