        body{
        	background-color: rgba(0, 0, 0, .2) !important;
      		background-blend-mode: multiply;
      		background-image: url('../images/books1920.jpg'); 
      		background-attachment: fixed;
      		background-position: center; 
      		background-size: cover;
      		background-repeat:no-repeat;
      	}
      	.wrapper.style2{
      		background-color: rgba(0,0,0,0);
      	}
      	.wrapper.style3{
      		background-color: rgba(0,0,0,0);
      		background-image:none
      	}
      	.wrapper.style3:before{
      		background-color: rgba(0,0,0,0);
      	}
      	.wrapper{
      		padding: 0rem 0 4rem 0;
      	}
      	.align-center{
      		text-align:left;
      	}
      	.wrapper.style3 h2{
      		color:black;
      	}
      	.wrapper.style3 p:after{
      		display:none;
      	}
      	.align-center{
      	    margin-top: 50px;
      	}
      	.box .content{
      		background-color:floralwhite;
      	}
      	.content img{
      		max-width:650px;
      		max-height:400px;
      	}
        #memPic {
            width: 100px;
            height: 100px;
            border: solid 1px;
            border-radius: 100%;
            margin: 0px auto;
            border: solid 5px;
    		display: inline-block;
    		border-radius: 100%;
    		overflow: hidden;
        }
        .memPic{
        	width: 100px;
            height: 100px;
            border: solid 1px;
            border-radius: 100%;
            margin: 0px auto;
            border: solid 5px;
    		display: inline-block;
    		border-radius: 100%;
    		overflow: hidden;
        }
        #memInfo {
            text-align: center;
        }
        #replyBtn {
            text-align: right;
            margin-bottom: 30px;
        }
        #replyBtn input {
            background-color: green;
            color: white;
            font-weight: 900;
            font-size: 16px;
            border-radius:10px;
            outline:none;
        }
        #replyBtn input:hover {
            background-color: #006400;
        }
        #titleRow .col-md-3 {
            position: relative;
        }
        #titleRow .col-md-3 input {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -.5em;
            margin-top: -.5em;
        }
        #time {
            text-align: center;
            padding-top: 30px;
        }

        #fatopic {
            font-size: 20px
        }
        .col-md-8.faTopic{
        	font-size: 26px;
        	margin-top: 30px;
        }
        #starImg img{
        	width: 35px; 
        	height: 35px; 
        	float: right; 
        	margin-right: 15px;
        }
        #memPic img{
       	 	width: 100px; 
			height: 100px;
        }
		.memPic img{
			width: 100px; 
			height: 100px;
		}
		
		
		
		.clear{
			clear:both;
		}
		
		.box{
        	border-radius:10px;
        	box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
        	opacity: .8;
        }
        .box:hover{
        	opacity: 1;
        }
        
       
		.reportBtn input{
			border-radius:10px;
			float:right;
			margin-left:10px;
			font-weight: 900;
			outline:none;
			background-color: green;
			color: white;
		}
		.wrapper.style2 .reportBtn input[type="submit"]:hover{
			background-color: green !important;
		}
		
		
		
		.wrapper.style2 hr{
			border:solid rgba(0,0,0,0.4) 1px;
			margin-top:5px;
		}
		
		

        @media screen and (min-width: 768px) and (max-width: 991px) {}
        @media screen and (max-width: 768px) {}