    	* {
            box-sizing: border-box;
        }
        ul {
            padding: 0;
        }
        ul a {
            display: inline-block;
            text-decoration: none;
            color: #666;
        }
        
        .content{
        	height: 800px;
        	width: 100%;
        	display: flex;
		    align-items:center;
		    justify-content:center;
		    background-color: #E0E0E0;
		    font-family: "Helvetica", "Arial","LiHei Pro", sans-serif;
		    font-weight: 700;
		    background-image: url(../images/4.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
        }
        .menuDiv{   	
        	color: #fff;
        	border-radius: 10px;
        	width: 1480px;
        	height: 700px;
        	background-color: #2F4F4F;
        	display: flex;
        	box-shadow:0 0 17px black;
        }
        
        .myMenu {
            max-width: 300px;
            margin: 0 auto;
            list-style-type: none;
            top: 200px;
            margin-left: 30px;
            margin-top: 70px;
        }
        .mem-info{
        	border-top-right-radius: 10px;
  			border-bottom-right-radius: 10px;
        	width: 1200px;
        	margin-right: 0;
			padding: 20px;
			background-color: #E0E0E0;
        }
        .mem-info img{
        	box-shadow:0 0 15px #5B4B00;
        	margin-left: 120px;
        }
        .myTable td{
        	width: 120px;
        }
        .drop-down {
            position: relative;
        }
        .submenu {
            position: relative;
            opacity: 0;
            width: 100%;
            z-index: 8;
            transition: opacity 0.5s ease;
        }
        .submenu-item {
            display: block;
            height: 0px;
            overflow: hidden;
            transition: height 0.5s ease;
        }
        .drop-down:hover .submenu {
            opacity: 1;
        }
        .drop-down:hover .submenu-item {
            overflow: visible;
            height: 30px;
        }
        .item {
        	font-size: 25px;
            width: 100%;
            padding: 15px;
       		color: white;
        }
        .item:hover {
            background: #333;
        }
        .submenu-item {
            background: #333;
            color: #eee;
            width: 100%;
            padding-left: 20px;
            line-height: 30px;
        }
        .submenu-item:hover {
            background: #555;
            color: white !important;
			text-decoration:none;
        }
        .now .item {
            background: #ddd;
        }
        .now .submenu {
            opacity: 1;
        }
        .now .submenu-item {
            background: #555;
            overflow: visible;
            height: 30px;
        }
        
       .container .row{
       	color: black;
       	margin-top: 20px;
       	text-align:center;
       }
		#forum_record input[type="submit"]{
       	border-radius:20px;
       	font-weight:bold;
       	background-color:#2F4F4F;
       	border:none;
       	outline:none;
       	color:white !important;
       }
       #forum_record input[type="submit"]:hover{
       	background-color:#00104F;
       	color:white !important;
       }
       
       form{
       	margin: 0 0 0 0;
       }
        
       .modal-dialog.modal-lg{
        	margin-top:5rem;
       }
       
       button.btn.btn-primary{
       	border-radius:20px;
       	font-weight:bold;
       	background-color:#2F4F4F;
       	border:none;
       	outline:none;
       	color:white !important;
       }
       
       button.btn.btn-primary:hover{
        	background-color:#00104F;
       		color:white !important;
       }
       input.btn.btn-secondary{
       	border-radius:20px;
       	font-weight:bold;
       	background-color:#2F4F4F;
       	border:none;
       	outline:none;
       	color:white !important;
       }
       input.btn.btn-secondary:hover{
       	background-color:#00104F;
       	color:white !important;
       }
       
       
       
        