        /*         @font-face {
            font-family: jf-openhuninn;
            src: url('../fonts/jf-openhuninn-1.1.ttf');
        } */
        table th {
            text-align: center;
            font-size: 1.2rem;
        }
        table td {
            text-align: center;
            font-size: 1.1rem;
            vertical-align: middle;
            padding: 0 0.75rem;
            padding-top: 0.75rem;
            height: auto;
        }
        body {
            background: url("../images/bookclub/background.png") center center fixed no-repeat;
            font-family: jf-openhuninn, arial;
        }
        input[type="submit"] {
            background-color: rgba(255, 255, 255, 0.2);
        }
        button {
            background-color: rgba(255, 255, 255, 0.2);
            font-size: 1.1rem;
           

        }
        button:focus {
            outline: none;
        }
        button:hover {
            background-color: rgba(255, 255, 255, 0.2);

        }
        form {
            margin: 0;
        }
        #myBookClubimg {
            margin: 0 0 2rem 0;
        }
        #container {
            margin: 10vh auto;
            height: 1200px;
            width: 100%;
        }
        #ReviewTableBody {
            margin-right: -32px;
            font-family: "Noto Bold", sans-serif;
        }
        .update-button {
            background-color: #F9D42D;
            border-color: #F9D42D;
            font-size: 1rem;
        }
        .update-button:hover {
            background-color: #F9E071;
            border-color: #F9E071;
        }
        .reviewGroupBtn {
            background-color: #3275E6;
            border-color: #3275E6;
            font-size: 1rem;
        }

        .reviewGroupBtn:hover {
            background-color: #65A1EA;
            border-color: #65A1EA;
        }

        .btn.chat {
            vertical-align: middle;


        }

        .btn.chat:hover {
            transform: scale(1.2, 1.2);
            transition: 0.2s all;
        }

        .reviewSubmit {
            display: contents;
        }

        #star {
            margin: 0 auto;
        }

        #quitModal {
            color: black;
        }

        #DismissModalCenterTitle {
            color: black;
        }