
		* {
            box-sizing: border-box;
        }
        ul {
            padding: 0;
        }
        ul a {
            display: inline-block;
            text-decoration: none;
            color: #666;
        }
        .content{
        	height: 800px;
        	width: 100%;
        	display: flex;
		    align-items:center;
		    justify-content:center;
		    background-color: #E0E0E0;
		    font-family: "Helvetica", "Arial","LiHei Pro", sans-serif;
		    font-weight: 700;
		    background-image: url(../images/4.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
        }
        .menuDiv{   	
        	border-radius: 10px;
        	width: 1000px;
        	height: 700px;
        	background-color: #2F4F4F;
        	display: flex;
        	box-shadow:0 0 17px black;
        }
       
        .myMenu {
            max-width: 300px;
            margin: 0 auto;
            list-style-type: none;
            top: 200px;
            margin-left: 30px;
            margin-top: 70px;
        }
        .updateBlock{
        	border-top-right-radius: 10px;
  			border-bottom-right-radius: 10px;
        	width: 700px;
        	margin-right: 0;
			padding: 20px;
			background-color: #E0E0E0;
        }
        .inputBlock{
        	width: 800px;
        	height: 400px;
        	margin-left: auto;
        	margin-right: auto;
        	margin-top: 50px;
        }
        .inputBlock .div1{
        	width: 480px;
        	margin-left: auto;
        	margin-right: auto;
        	height: 80px;
        }
        .inputBlock form{
        	width: 700px;
        	height: 400px;
        }
        .inputBlock .left{
        	display: inline-block;
        	
        }
        .inputBlock .left label{
        	font-family: "Helvetica", "Arial","LiHei Pro";
		    font-weight: 700;
		    font-size: 20px;
        }
       	.inputBlock .right{
       		display: inline-block;
       		margin-left: 20px;
       	}
       	.inputBlock #pic1{
        	display: inline-block;
        }
        .inputBlock #pic2{
        	display: inline-block;
        }
        .inputBlock #pic3{
        	display: inline-block;
        }
       	.inputBlock .right input{
       		border: 3px solid #9D9D9D;
            border-radius: 10px;
            padding: 6px;
            font-size: 16px;
            font-family: "LiGothic", "FangSong", Arial, serif;
            font-weight: 600;
            width: 300px;
            height: 35px;
            outline-color: #003D79;
            background-color: white;
       	}
       	#mybtn{
       		color: white !important;
       		background-color: grey;
			font-size: 20px; 
      		font-weight: 500;
      		width: 140px;  
      		margin-left:260px;
       	}
       	#mybtn:hover {
            background-color: black;
        }
       	
       	#spc{
       		margin-left: 40px;
       	}
       	.errorMsg{
        	font-family: "LiGothic", "FangSong", Arial, serif;
            color: red;
            font-size: 16px;
            margin-left: auto;
        	margin-right: auto;
            line-height: 10px;
        	font-weight: 700;
        	letter-spacing: 1px;
        	width: 300px;
        	margin-bottom: 50px;
        	text-align: center;
        }
        .errorMsg2{
        	font-family: "LiGothic", "FangSong", Arial, serif;
            color: red;
            font-size: 10px;
            line-height: 10px;
        	font-weight: 700;
        	letter-spacing: 1px;
        	width: 200px;
        	margin-bottom: 5px;
        }
         .success{
        	font-family: "LiGothic", "FangSong", Arial, serif;
            color: green;
            font-size: 32px;
            margin-left: auto;
        	margin-right: auto;
            line-height: 10px;
        	font-weight: 700;
        	letter-spacing: 1px;
        	width: 700px;
        	margin-top: 50px;
        }
        
       
        .drop-down {
            position: relative;
        }
        .submenu {
            position: relative;
            opacity: 0;
            width: 100%;
            z-index: 8;
            transition: opacity 0.5s ease;
        }
        .submenu-item {
            display: block;
            height: 0px;
            overflow: hidden;
            transition: height 0.5s ease;
        }
        .drop-down:hover .submenu {
            opacity: 1;
        }
        .drop-down:hover .submenu-item {
            overflow: visible;
            height: 30px;
        }
     
        .item {
        	font-size: 25px;
            width: 100%;
            padding: 15px;
       		color: white;
        }
        .item:hover {
            background: #333;
            color: white !important;
			text-decoration:none;
        }
        .submenu-item {
            background: #333;
            color: #eee;
            width: 100%;
            padding-left: 20px;
            line-height: 30px;
        }
        .submenu-item:hover {
            background: #555;
            color: white !important;
			text-decoration:none;
        }
        .now .item {
            background: #ddd;
        }
        .now .submenu {
            opacity: 1;
        }
        .now .submenu-item {
            background: #555;
            overflow: visible;
            height: 30px;
        }