<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>EA103G4</display-name>
	<welcome-file-list>
		<welcome-file>/front-end/front-index.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>jdbc/bookshop</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<servlet>
		<servlet-name>Celebrity_BookServlet</servlet-name>
		<servlet-class>com.celebrity_book.controller.Celebrity_BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Celebrity_BookServlet</servlet-name>
		<url-pattern>/front-end/celebrity_book/celebrity_book.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Favorite_BookServlet</servlet-name>
		<servlet-class>com.favorite_book.controller.Favorite_BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Favorite_BookServlet</servlet-name>
		<url-pattern>/front-end/favorite_book/favorite_book.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/mem/mem.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>signinFilter</filter-name>
		<filter-class>com.mem.filters.SignInFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>signinFilter</filter-name>
		<url-pattern>/front-end/member/memberCenter.jsp</url-pattern>
		<url-pattern>/front-end/member/memberSpace.jsp</url-pattern>
		<url-pattern>/front-end/member/payMethod.jsp</url-pattern>
		<url-pattern>/front-end/member/updatePwd.jsp</url-pattern>
		<url-pattern>/front-end/celebrity_book/celebrityBook.jsp</url-pattern>
		<url-pattern>/front-end/favorite_book/favoriteBook.jsp</url-pattern>
		<url-pattern>/front-end/bookclub/addBookClub.jsp</url-pattern>
		<url-pattern>/front-end/shopping/cart.jsp</url-pattern>
		<url-pattern>/front-end/forum/addFaPage.jsp</url-pattern>
		<url-pattern>/front-end/forum/addFmPage.jsp</url-pattern>
		<url-pattern>/front-end/forum/addFarPage.jsp</url-pattern>
		<url-pattern>/front-end/forum/addFmrPage.jsp</url-pattern>
		<url-pattern>/front-end/member/selectOrder.jsp</url-pattern>
		<url-pattern>/front-end/member/selectOrderByBtn.jsp</url-pattern>
		<url-pattern>/front-end/forum/memberCenter_forum.jsp</url-pattern>
		<url-pattern>/front-end/forum/memberCenter_forum_collections.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>fromPageFilter</filter-name>
		<filter-class>com.mem.filters.ComefromPage</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>fromPageFilter</filter-name>
		<url-pattern>/front-end/front-index.jsp</url-pattern>
		<url-pattern>/front-end/forum/forumIndex.jsp</url-pattern>
		<url-pattern>/front-end/member/signUp.jsp</url-pattern>
		<url-pattern>/front-end/member/confirmationCode.jsp</url-pattern>
		<url-pattern>/front-end/bookclub/listOneBookClub.jsp</url-pattern> 
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>BookClubServlet</servlet-name>
		<servlet-class>com.bookclub.controller.BookClubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookClubServlet</servlet-name>
		<url-pattern>/front-end/bookclub/bookclub.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookClub_ReportServlet</servlet-name>
		<servlet-class>com.bookclub_report.controller.BookClub_ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookClub_ReportServlet</servlet-name>
		<url-pattern>/bookclub_report/bookclub_report.do</url-pattern>
		<url-pattern>/back-end/bookclub_report/bookclub_report.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookClub_Regis_DetailServlet</servlet-name>
		<servlet-class>com.bookclub_regis_detail.controller.BookClub_Regis_DetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookClub_Regis_DetailServlet</servlet-name>
		<url-pattern>/back-end/bookclub_regis_detail/bookclub_regis_detail.do</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.util.StatusMap</listener-class>
	</listener>
	<servlet>
		<servlet-name>AdminsServlet</servlet-name>
		<servlet-class>com.admins.controller.AdminsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminsServlet</servlet-name>
		<url-pattern>/back-end/admin/admins.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UdbTxServlet</servlet-name>
		<servlet-class>com.udbtx.controller.UdbTxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UdbTxServlet</servlet-name>
		<url-pattern>/front-end/udbtx/udbtx.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UdbTxServlet</servlet-name>
		<url-pattern>/back-end/udbtx/udbtx.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>backLoginFilter</filter-name>
		<filter-class>filters.BackEndLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>backLoginFilter</filter-name>
		<url-pattern>/back-end/login/loginSucess.jsp</url-pattern>
		<url-pattern>/back-end/admins/*</url-pattern>
		<url-pattern>/back-end/advertising/*</url-pattern>
		<url-pattern>/back-end/bookclub_report/listAllBookClub_Report.jsp</url-pattern>
		<url-pattern>/back-end/forum/forumBack_forums.jsp</url-pattern>
		<url-pattern>/back-end/forum/forumBack_messages.jsp</url-pattern>
		<url-pattern>/back-end/forum/reviewBack.jsp</url-pattern>
		<url-pattern>/back-end/jsp_BookManagement/*</url-pattern>
		<url-pattern>/back-end/jsp_Common/*</url-pattern>
		<url-pattern>/back-end/jsp_MarketingManagement/*</url-pattern>
		<url-pattern>/back-end/jsp_PromoManagement/*</url-pattern>
		<url-pattern>/back-end/jsp_RecommManagement/*</url-pattern>
		<url-pattern>/back-end/member/listAllMem.jsp</url-pattern>
		<url-pattern>/back-end/member/listMems.jsp</url-pattern>
		<url-pattern>/back-end/member/update_mem.jsp</url-pattern>		
		<url-pattern>/back-end/order/cancel_order.jsp</url-pattern>
		<url-pattern>/back-end/order/create_order.jsp</url-pattern>
		<url-pattern>/back-end/order/listAll_order.jsp</url-pattern>
		<url-pattern>/back-end/order/listOne_order.jsp</url-pattern>
		<url-pattern>/back-end/order/select_order.jsp</url-pattern>
		<url-pattern>/back-end/order/update_order.jsp</url-pattern>	
		<url-pattern>/back-end/cs/csindex.jsp</url-pattern>		
		<url-pattern>/back-end/cs/listAllCs.jsp</url-pattern>		
		<url-pattern>/back-end/lecture/addLecture.jsp</url-pattern>		
		<url-pattern>/back-end/lecture/listAllLecture.jsp</url-pattern>		
		<url-pattern>/back-end/lecture/listOneLecture.jsp</url-pattern>		
		<url-pattern>/back-end/lecture/update_lecture.jsp</url-pattern>					
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>backPermissionFilter</filter-name>
		<filter-class>filters.BackEndPermissionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>backPermissionFilter</filter-name>
		<url-pattern>/back-end/admins/listAllAdmins.jsp</url-pattern>
		<url-pattern>/back-end/admins/addAdmins.jsp</url-pattern>
		<url-pattern>/back-end/admins/update_admins.jsp</url-pattern>	
		<url-pattern>/back-end/advertising/*</url-pattern>
		<url-pattern>/back-end/bookclub_report/listAllBookClub_Report.jsp</url-pattern>
		<url-pattern>/back-end/forum/forumBack_forums.jsp</url-pattern>
		<url-pattern>/back-end/forum/forumBack_messages.jsp</url-pattern>
		<url-pattern>/back-end/forum/reviewBack.jsp</url-pattern>
		<url-pattern>/back-end/jsp_BookManagement/*</url-pattern>
		<url-pattern>/back-end/jsp_Common/*</url-pattern>
		<url-pattern>/back-end/jsp_MarketingManagement/*</url-pattern>
		<url-pattern>/back-end/jsp_PromoManagement/*</url-pattern>
		<url-pattern>/back-end/jsp_RecommManagement/*</url-pattern>
 		<url-pattern>/back-end/member/listAllMem.jsp</url-pattern>
		<url-pattern>/back-end/member/listMems.jsp</url-pattern>
		<url-pattern>/back-end/member/update_mem.jsp</url-pattern>		
		<url-pattern>/back-end/order/cancel_order.jsp</url-pattern>
		<url-pattern>/back-end/order/create_order.jsp</url-pattern>
		<url-pattern>/back-end/order/listAll_order.jsp</url-pattern>
		<url-pattern>/back-end/order/listOne_order.jsp</url-pattern>
		<url-pattern>/back-end/order/select_order.jsp</url-pattern>
		<url-pattern>/back-end/order/update_order.jsp</url-pattern>
		<url-pattern>/back-end/cs/csindex.jsp</url-pattern>		
		<url-pattern>/back-end/cs/listAllCs.jsp</url-pattern>		
		<url-pattern>/back-end/lecture/addLecture.jsp</url-pattern>		
		<url-pattern>/back-end/lecture/listAllLecture.jsp</url-pattern>		
		<url-pattern>/back-end/lecture/listOneLecture.jsp</url-pattern>		
		<url-pattern>/back-end/lecture/update_lecture.jsp</url-pattern>	
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<servlet>
		<servlet-name>FaServlet</servlet-name>
		<servlet-class>com.Fa.controller.FaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FaServlet</servlet-name>
		<url-pattern>/front-end/forum/fa.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FmServlet</servlet-name>
		<servlet-class>com.Fm.controller.FmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FmServlet</servlet-name>
		<url-pattern>/front-end/forum/fm.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FarServlet</servlet-name>
		<servlet-class>com.Far.controller.FarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FarServlet</servlet-name>
		<url-pattern>/front-end/forum/far.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FarServlet</servlet-name>
		<url-pattern>/back-end/forum/far.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FmrServlet</servlet-name>
		<servlet-class>com.Fmr.controller.FmrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FmrServlet</servlet-name>
		<url-pattern>/front-end/forum/fmr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FmrServlet</servlet-name>
		<url-pattern>/back-end/forum/fmr.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FcServlet</servlet-name>
		<servlet-class>com.Fc.controller.FcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FcServlet</servlet-name>
		<url-pattern>/front-end/forum/fc.do</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>FollowServlet</servlet-name>
  		<servlet-class>com.Follow.controller.FollowServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
  		<servlet-name>FollowServlet</servlet-name>
  		<url-pattern>/front-end/forum/follow.do</url-pattern>
 	</servlet-mapping>
	<servlet>
		<servlet-name>LectureServlet</servlet-name>
		<servlet-class>com.lecture.controller.LectureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LectureServlet</servlet-name>
		<url-pattern>/back-end/lecture/lecture.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategorieServlet</servlet-name>
		<servlet-class>com.categorie.controller.CategorieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategorieServlet</servlet-name>
		<url-pattern>/back-end/categorie/categorie.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.signup.controller.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/back-end/signup/signup.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.order.controller.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/order/order.do</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>key</param-name>
		<param-value>AIzaSyDqQhDH_Nqalcir</param-value>
	</context-param>
	<context-param>
		<param-name>key2</param-name>
		<param-value>gRBmoIL0btl4V9i6u0</param-value>
	</context-param>
	<servlet>
		<servlet-name>CsServlet</servlet-name>
		<servlet-class>com.cs.controller.CsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CsServlet</servlet-name>
		<url-pattern>/back-end/cs/cs.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CsSendGmail</servlet-name>
		<servlet-class>com.cs.controller.CsSendGmail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CsSendGmail</servlet-name>
		<url-pattern>/back-end/cs/CsSendGmail.do</url-pattern>
	</servlet-mapping>
</web-app>